uvicorn[standard]
gunicorn
fastapi
finance-datareader
bs4
sqlalchemy
PyJWT
bcrypt
databases
aiomysql
pykrx
matplotlib
pydantic==1.10.10
rocketry==2.5.1
asyncio
html5lib # for krxStockListing
python-socketio==4.6.1